// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom
@import "sidebar";
@import "post-page";
@import "animation-class";
@import "nav-style";
@import "body-scrollbar";
@import "dark-theme";
@import "footer";

body {
    background: url('/background/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    transition: all 0.5s ease;
}

a {
    transition: all 1s ease;
}

.active-link {
    background-color: #4675596e;
    color: rgba(37, 62, 187, 0.24) !important;
}

.app-content {
    transition: all .5s ease;
    margin-left: 80px;
    padding-top: 5em;
}

.square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}

.background {
    background-color: #cf9f30;
}


.dropdown-item {
    border-radius: .4em;
}

.dropdown-item:hover {
    color: white !important;
    background-color: rgba(40, 86, 61, 0.34) !important;
}

@media (max-width: 768px) {
    .sidebar {
        left: -100%;
        background: rgba(84, 152, 125, 0.9);
    }
    .app-content {
        margin-left: 0 !important;
    }

    body{
        margin: 0;
        padding: .5em;
    }


    nav {
        background: rgba(84, 152, 125, 0.9) !important;

        a, div {
            color: white !important;
        }
    }

    #sidebar-check:checked ~ .sidebar {
        width: 100% !important;
    }
}

