// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}

.background {
    background-color: #cf9f30;
}

.navbar-style{
    background-color: rgba(84, 152, 125, 0.56);
}

.nav-link{
    color: rgba(255, 255, 255, 0.68);
}
